{% extends 'base.html'%}

{% block title%}{% endblock %}

{% block content%}

<div class="container">
  <div class="row row-cols-1 row-cols-md-3">

    <div class="col mb-4">
      <div class="card">
        <h1 class="text-center"><i data-feather="book-open"></i></h1>
        <div class="card-body">
          <h5 class="card-title">Books</h5>
          <a href="{{url_for('books_view')}}" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <h1 class="text-center"><i data-feather="users"></i></h1>
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <a href="{{url_for('users_view')}}" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <h1 class="text-center"><i data-feather="users"></i></h1>
        <div class="card-body">
          <h5 class="card-title">Reviews</h5>
          <a href="{{url_for('reviews_view')}}" class="stretched-link"></a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
