{% extends 'base.html'%}

{% block title%}{% endblock %}

{% block content%}

<div class="container">
  <h1>Review a Book</h1>
  <div class="col">
    <form method="POST" action="{{url_for('reviews_add')}}">
      <div class="form-row">

        <div class="form-group col-6">
          <label for="reviewUser">User</label>
          <select class="form-control" name="reviewUser">
            {% for user in data.users %}
            <option>{{user.name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-6">
          <label for="bookTitle">Book Title</label>
          <select class="form-control" name="bookTitle">
            {% for book in data.books %}
            <option>{{book.title}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-6">
          <label for="reviewRating" class="control-label">Book Rating</label>
          <input type="range" min="1" max="10" value="5" class="form-control-range" id="reviewRating" name="reviewRating">
        </div>

        <div class="form-group col-12">
          <label for="reviewText">Book Review</label>
          <textarea class="form-control" name="reviewText" rows="5"></textarea>
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>

      </div>
    </form>
  </div>
</div>

{% endblock %}
